/*--------------------------------------------------------------
# experience
--------------------------------------------------------------*/
h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 10rem;
}

h4 {
  margin-bottom: 2rem;
  font-family: "Red Hat Display", sans-serif;
}

.experience .experience-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.experience .experience-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.experience .experience-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "RedHatDisplay", sans-serif;
  color: var(--pink);
  margin-bottom: 10px;
}

.experience .experience-item h5 {
  font-size: 16px;
  background: var(--green);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.experience .experience-item ul {
  padding-left: 20px;
}

.experience .experience-item ul li {
  padding-bottom: 10px;
}

.experience .experience-item:last-child {
  padding-bottom: 0;
}

.experience .experience-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--pink);
  border: 2px solid var(--pink);
}
